<%- include("header") -%>

<!-- this part will be always shown -->
<div class="parent">
  <div class="child">
    <form action="/" method="post">
      <input
        type="text"
        name="city"
        id="city-name"
        placeholder="Enter a city name"
        autocomplete="off"
        size="40"
        required
      />
      <button type="submit" class="btn btn-primary btn-lg">GO</button>
    </form>
  </div>
</div>

<!-- this part will only be shown when seached city is present in DB -->
<% if (showData) { %>
<div class="row">
  <div class="col-md-4">
    <div class="box">
      <img class="cropped" src="<%= city.image %>" alt="cityImage" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-box">
      <p>City: <%= city.name %></p>
      <p>Country: <%= city.country %></p>
      <p>Area: <%= city.area %></p>
      <p>Population: <%= city.population %></p>
    </div>
  </div>
</div>
<% } %> 

<%- include("footer") -%>